<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.vertx" level="info"/>
  <logger name="io.netty" level="warn"/>
  <logger name="io.netty.handler.logging.LoggingHandler" level="warn"/>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>